.container {
  padding: 10px;
}

.buttonsContainer {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 250px;
  gap: 10px;
  margin: 0 auto;
}

.buttonsContainer button {
  user-select: none;
  background-color: rgb(18, 129, 185);
  color: rgb(232, 230, 227);
  border-radius: 50%;
  aspect-ratio: 1;
  font-size: 2em;
  padding: 0;
  border: 0;
}

.buttonsContainer button:active {
  -webkit-tap-highlight-color: transparent;
  outline: 2px solid #fff;
}

.buttonsContainer button:focus {
  outline: none;
}

.inputValue {
  font-size: 3em;
  width: 100%;
  border: 0;
  text-align: center;
  background-color: transparent;
}
